@model Hospital.Models.Clinic
@{
    ViewData["Title"] = "Delete Clinic";
}

<h2>Delete Clinic</h2>

<h4>Are you sure you want to delete this clinic?</h4>
<div>
    <h5>@Model.Name</h5>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2026 - Hospital - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>